<!doctype html>
<html lang="{{ site.source_language | default: 'en' }}" data-theme="dark">
<head>
{% include head.html %}
</head>
<body class="{{ page.body_class }}">
<div class="grid-bg" aria-hidden="true"></div>
{% include header.html %}
<main id="main">
{{ content }}
</main>
{% include footer.html %}
<script>window.PT_LANGS = [{% for l in site.data.languages %}"{{ l.code }}"{% unless forloop.last %},{% endunless %}{% endfor %}]; window.PT_SOURCE = "{{ site.source_language | default: 'en' }}";</script>
<script src="{{ '/assets/js/main.js' | relative_url }}" defer></script>
</body>
</html>
